<h1>Eliminar producto</h1>
<input id="deleteNumber" type="text">
<button id="deleteSubmit">Enviar</button>

<h1>Agregar producto</h1>
<input placeholder="Nombre" id="title" type="text">
<input placeholder="Descripcion" id="description" type="text">
<input placeholder="Precio" id="price" type="number">
<input placeholder="Thumbnail" id="thumbnail" type="text">
<input placeholder="Codigo" id="code" type="text">
<input placeholder="Stock" id="stock" type="number">
<input placeholder="Categoria" id="category" type="text">
<button id="addSubmit">Enviar</button>
<div id="products">
</div>

