<form action="/api/sessions/restorePassword" method="post">
    <input type="email" name="email" id="email" placeholder="Ingrese su email">
    <input type="password" name="newPassword" id="newPassword" placeholder="Contraseña nueva">

    <button type="submit">Enviar</button>
</form>